.ProfileCon {
  width: 100%;
  display: flex;
}
.ProCon {
  width: 80%;

  /* background: #abc1df; */
}
.msgSecTion {
  height: calc(100% - 80px);
  width: 300px;
  position: sticky;
  top: 80px;
  flex-shrink: 0;
}
.CoverSection {
  width: 100%;
  height: 320px;
  position: relative;
  /* background: #c0c0c0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.MAhad {
  margin: auto;
  width: 98%;

  background: #f0eded;
  border-radius: 0 0 10px 10px;
}
.coverImages {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.Nextlayer {
  margin-top: 70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 320px;
  /* border: 2px solid rgb(78, 78, 78); */
}
.bfhead {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.BackBtn {
  width: 80px;
  color: #f5ebeb;
  height: 30px;
  background: #35323283;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.BackBtn:hover {
  background: #ccc0c096;
}
.FollowBtn {
  width: 40px;
  height: 40px;
  background: #27252588;
  font-size: 22px;
  display: flex;
  color: #f5eeee;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.mainProphoto {
  display: flex;
  width: 100%;
  height: 200px;
}
.ProImgsf {
  width: 210px;
  height: 200px;
}
.Infos {
  margin-left: 10px;
  padding: 5px;
  width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.NameAgePhoto {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.NameAges2 {
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 1px rgba(97, 94, 94, 0.76);
}
.varysemble {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.vary {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Online {
  width: 100%;
  height: 50px;

  display: flex;
  padding: 5px;
  align-items: center;
}
.proImagst {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgb(49, 49, 49);
}
.symbleOn {
  margin: 5px;
  width: 12px;
  height: 12px;
  background: #057714;
  border-radius: 50%;
}
.onlinetext {
  color: #ffffff;
  font-size: 17px;
  margin-left: 5px;
  text-shadow: 2px 2px 1px #7e7e7e9d;
}
.SomeTime {
  width: 100%;
  padding: 5px;
  margin-top: 50px;
}
.sendMsg {
  width: 100%;
  height: 80px;
  /* background: #cfcbcb; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Chatmsg {
  width: 65%;
  height: 50px;
  /* border: 1px solid rgb(103, 104, 104); */
}
.sendGift {
  width: 25%;
  height: 50px;
  border-radius: 8px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0d9d9;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(87, 81, 81, 0.582);
}
.chatNow {
  padding: 10px;
  height: 100%;
  width: 150px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #06991e;
  float: right;
  cursor: pointer;
}
.Inputs {
  height: 100%;
  width: calc(100% - 150px);
  padding: 5px;
  font-size: 16px;
}
.ImgPSection {
  margin-top: 10px;
  width: 98%;
  justify-self: center;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  background: #f1eeee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.myvideo,
.myphoto,
.myPriphoto {
  height: 100%;
  width: 30%;
  position: relative;
}
.OurBgImage {
  /* background-image: url("../Image/image.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;
  width: 100%;
}

.myphotoss,
.myphotossPriver {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myvideoBox {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background: #6b5353b0; */
}
.myVide,
.myVideIcon {
  padding: 10px;
  height: 25px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 3px gray;
}
.AboutAll {
  margin-top: 10px;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  justify-self: center;
  border-radius: 10px;

  gap: 10px;
}
.myIntarastIcon {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.Itext {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}
.Icon {
  width: 85px;
  /* height: 80px; */
  padding: 5px;
}
.Imgot {
  padding: 15px;
  font-size: 70px;
  color: #fff;
  border-radius: 50%;
}
.Imgot.one {
  background: #c106da;
}
.Imgot.tow {
  background: #099ee4;
}
.Imgot.five {
  background: #cf0606;
}
.Imgot.four {
  background: #8a16e9;
}
.Imgot.six {
  background: #66d102;
}
.Imgot.seven {
  background: #ce21bf;
}
.Imgot.eight {
  background: #26b667;
}
.Imgot.nine {
  background: #998d1f;
}
.Imgot.ten {
  background: #78dd50;
}
.Imgot.ellavan {
  background: #e2603f;
}
.Imgot.thirtin {
  background: #3fe2a3;
}
.Imgot.fourten {
  background: #623fe2;
}
.Imgot.fivten {
  background: #e2df3f;
}
.Imgot.sixten {
  background: #e72f2f;
}
.Imgot.seventen {
  background: #28551f;
}
.Imgot.ninten {
  background: #c6ff42;
}
.Imgot.towenty {
  background: #9f29e4;
}
.Imgot.towentyone {
  background: #bed305;
}
.Imgot.towentytow {
  background: #dd3fe2;
}
.Imgot.towentythree {
  background: #3f4ae2;
}
.Imgot.towentyfour {
  background: #e23f3f;
}
.Imgot.towentyfive {
  background: #b1e23f;
}
.Imgot.towentysix {
  background: #39ebf8;
}
.Imgot.towelve {
  background: #e72e6b;
}
.potname {
  text-align: center;
  color: #444444;
  font-size: 14px;
}
.aboutmE,
.lokingFor {
  width: 48%;
  /* height: 200px; */
  border-radius: 10px;
  background: #eeeef1;
}
.TheXhad {
  width: 90%;
  height: 40px;
  font-size: 22px;
  color: #131212;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
}
.infoin {
  width: 100%;

  /* background: #a59c9c; */
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
.Iwantto {
  margin: 0 10px 0px 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}
.Lokingfordiscription {
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.Boldtexts {
  font-weight: 600;
}
.bl {
  width: 100%;
  height: 10vh;
}
@media screen and (max-width: 800px) {
  .AboutAll {
    flex-direction: column;
    align-items: center;
  }
  .aboutmE,
  .lokingFor {
    width: 98%;
  }
}
@media screen and (max-width: 1000px) {
  .msgSecTion {
    display: none;
  }
  .ProCon {
    width: 100%;
  }
}
