.ConOne {
  width: 100%;
  height: 100vh;
  /* padding-top: 10px; */
  background: url("../Image/Rbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inSection {
  width: 80%;
  height: 100%;
  /* border: 1px solid #0fc; */
  display: flex;
  align-items: center;
}
/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------ */
.ConTow {
  width: 100%;
  height: auto;
}
.firstSection {
  /* padding: 20px 5px 20px 5px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headerText {
  width: 100%;
  height: 100px;
  color: #1a1717;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proCicrelx {
  width: 220px;
  height: 350px;

  /* border: 1px solid rgb(54, 18, 184); */
}
.imgBar {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userOne {
  border-radius: 50%;
  object-fit: cover;
}
.textsus {
  width: 100%;
  height: 30%;
  display: flex;
  font-weight: 500;
  color: #202020;
  justify-content: center;
  font-size: 20px;
}
.InfoSection {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
.Info {
  height: 350px;
  width: 300px;

  /* border: 1px solid rgb(83, 13, 247); */
}
.IconSection {
  width: 100%;
  height: 50%;
  color: #047900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
.smallTextsection {
  width: 100%;
  height: 50%;
}
.headtext {
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.normaltext {
  width: 100%;
  color: #555252;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.Review {
  width: 100%;
  height: 50vh;
  background: #e9e6e6;
}
.Fotter {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReviewHad {
  width: 100%;
  height: 30%;
  /* background: #7dbfca; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.myavatarIcon {
  margin: 10px;
  width: 80px;
  border-radius: 50%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.myavatarIcon.Border {
  padding: 2px;
  border: 2px solid rgb(0, 255, 64);
}
.Bodyreview {
  width: 100%;
  height: 70%;
  /* background: #afa8a8; */
}
.BoldText {
  font-size: 40px;
  color: #202020;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smalltext {
  height: 50%s;
  font-size: 18px;
  color: #1a1717;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .inSection {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .ConOne {
    background-position: right;
  }
  .inSection {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .BgFrom {
    width: 70%;
    background: #3f3e3e5b;
  }
  .ConTow {
    height: auto;
  }
}
